<!-- Define the edit dialog.                       -->
<script type="text/x-red" data-template-name="gpio-read">

    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span>Name</span></label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-pin"><i class="fa fa-wrench"></i> <span data-i18n="rpi-gpio.label.gpiopin">GPIO</span></label>
        <select type="text" id="node-input-pin" style="width: 250px;">
            <option value='' disabled selected style='display:none;'><span></span></option>
         </select> &nbsp;
        <span id="pitype"></span>
    </div>
    <div class="form-row">
        <label for="node-input-rbe"><i class="fa fa-table"></i> Report by Exception</label>
        <input type="checkbox" id="node-input-rbe" value="array">
    </div>
    <div class="form-row">
        <label for="node-input-invert"><i class="fa fa-table"></i> Invert value</label>
        <input type="checkbox" id="node-input-invert" value="array">
    </div>
</script>

<script type="text/javascript">
    RED.nodes.registerType('gpio-read', {
        category: 'Extend',
        defaults: {
            name: { value: "" },
            rbe:   {value: true},
            invert:   {value: false},
            pin: { value:"tri",required:true,validate:RED.validators.number() }
        },
        inputs: 1,
        outputs: 1,
        color: "#E9967A",
        icon: "rpi.png",
        label: function() { return this.name || "Pin: "+this.pin ; },
        oneditprepare: function () {
            var pinnow = this.pin;
            $.getJSON('rpi-gpio/' + this.id, function (data) {
                $('#pitype').text(data.type);
            });
            $.getJSON('rpi-pins/' + this.id, function (data) {
                pinsInUse = data || {};

                Object.keys(pinsInUse).forEach(function (key) {
                    $('#node-input-pin').append($("<option></option>").attr("value", key).text("Pin " + key + "(" + pinsInUse[key] + ")"));
                });
                $('#node-input-pin').val(pinnow);
            });

        }
    });

</script>