<!-- Define the edit dialog.                       -->
<script type="text/x-red" data-template-name="payload">

    <!-- Topic - ID of target device -->
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span>Name</span></label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic_v"><i class="fa fa-tasks"></i> Topic</label>
        <input type="text" id="node-input-topic_v" placeholder="Valeur">
    </div>
    <div class="form-row">
        <label for="node-input-payload_v"><i class="fa fa-tasks"></i> Payload</label>
        <input type="text" id="node-input-payload_v" placeholder="Valeur">
    </div>
</script>

<script type="text/javascript">
    RED.nodes.registerType('payload', {
        category: 'Extend',
        defaults: {
            name: {value:""},
            topic_v: {value:""},
            payload_v: {value:""}
        },
        inputs:  1,
        outputs: 1,
        color: "#DDDDDD",  
        icon: "debug.png",
        align: "right",
        label: function() { return ((this.name || this.topic_v ? (this.name || this.topic_v) + " " : "")) + (this.payload_v ? "[" + this.payload_v + "]" : ""); },  
    });
</script>
